<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/style.css") }}">
</head>

<body>

{% include 'header.html' %}

<div class="container">
    <div class="content-wrap">
        <div class="content">
            <header class="article-header">
                <h1 class="article-title"><a href="#">{{ info.title }}</a></h1>
                <div class="article-meta ">
                    <span class="item time ">{{ info.pubdate }}</span>
                    <span class="item tags">标签：<a href="#">类型</a><a href="#">类型</a><a href="#">类型</a></span>
                    <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> 88</span>
                </div>
            </header>

            <article class="article-content" >
                <span><s:property value="" escape="false" id="content_html"/></span>
            </article>

            <div class="title">
                <h3>评论</h3>
            </div>
            <div class="article-comment">
                <form action="" method="POST">
                    <input type="text" class="form-control" placeholder="您的昵称（必填）">
                    <input type="text" class="form-control" placeholder="您的邮箱或联系电话（非必填）">
                    <textarea class="form-control" rows="3" placeholder="您的评论或留言（必填）"></textarea>
                    <button type="button" class="btn btn-default">发布评论</button>
                </form>
            </div>

            <div class="postcomments">
                <ol class="commentlist">
                    <li class="comment-content"><span class="comment-f">#1</span>
                        <div class="comment-main">
                            <p><a class="name" href="#" target="_blank">1楼</a><span class="time"> 2020/3/1 11:41:03</span><br>不错的网站主题，看着相当舒服
                            </p>
                        </div>
                    </li>
                    <li class="comment-content"><span class="comment-f">#2</span>
                        <div class="comment-main">
                            <p><a class="name" href="#" target="_blank">2楼</a><span
                                    class="time"> 2020/3/1 11:41:03</span><br>不错的网站主题，看着相当舒服</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div class="sidebar right-align" style="float: right">
            <div class="widget widget_hot">
                <h3>文章目录</h3>
                <ul id="user_articles">

                </ul>
            </div>
            <div class="widget widget_hot ">
                <h3>最新文章</h3>
                <ul id="articles">

                </ul>
            </div>
        </div>
    </div>
</div>

<pre id="tem">{{ info.content }}</pre>

{% include 'footer.html' %}

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
<script src="{{ url_for('static',filename="js/bootstrap.min.js") }} "></script>
<script>
    $(function () {
        $('#content_html').html($('#tem').text())
        $.ajax({
            url:"/new_articles/3",
            type:'get',
            dataType:'json',
            success:function (data) {
                var articles=$('#articles')
                for(var i=0;i<data.length;i++){
                    var new_article='<li><a title="" href="/article/'+data[i].id+'"><span class="text">'+data[i].title+'</span><span class="muted"><i class="glyphicon glyphicon-time"></i>'+data[i].pubdate+'</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i> 88</span></a></li>'
                    articles.append(new_article)
                }
            }
        })
        $.ajax({
            url:"/user_articles",
            type:'get',
            dataType:'json',
            success:function (data) {
                var user_articles=$('#user_articles')
                for(var i=0;i<data.length;i++){
                    var new_article='<li><a title="" href="/article/'+data[i].id+'"><span class="text">'+data[i].title+'</span></a></li>'
                    user_articles.append(new_article)
                }
            }
        })
    })
</script>
</body>

</html>